/* Utiliza % para definir o tamanho dos elementos - função dos elementos pai e do viewport */

/*  */
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: 0 auto;
  width: 80%; /*  */
}

header{
  overflow: hidden;
  margin: 2vw auto;
  height: 8vw;
  padding: 1rem;
  background-color: rgb(219, 221, 217);
  position: relative;
}

header h1 {
  font-size: 3vw; /* */
  line-height: 8vw;
}

header .menu{
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  right: 1vw;
  transform: translateY(-50%);
}

header .menu li{
  display: inline-block;
  margin-right: 1.2vw;
  font-size: 2vw;
}

header .logo{
  display: inline-block;
  color: indigo;
}

main {
  margin: 1% 3% 1% 0; /*  */
  float: left;
  max-width: 60%; /* min/max-width/height */
}

aside {
  margin: 1% 0; /* */
  background-color: #F0F0F0;
  float: right;
  box-sizing: border-box;
  padding: 0 2%; /* 1.0416% - 10/960 */
  max-width: 37%; /* 33.5416% - 322/960 */
  text-align: center;
  position: relative;
}

.destaque {
  margin: 2% auto; /*  */
  text-align: justify;
}

.destaque h2{
  font-size: 2.5vw;
}

.destaque p{
  margin: 3% auto; /*  */
  font-size: 1.8vw;
}

.noticias article {
  float: left;
  margin: 2% 2% 2% 0; /*  */
  width: 48%; /*  */
  font-size: 1.2vw; /* */
  text-align: justify;
  overflow: hidden;
}

.noticias article h2 {
  font-size: 2vw; 
  margin-bottom: 1%;
}

.noticias article p {
  margin: 3% 0;
  text-align: justify;
}

.noticias article img {
  width: 100%;
  max-width: 100%;
  margin: 0;
  height: 16vw;
}

.noticias article a{
  text-decoration: none;
}

aside iframe {
  max-width: 90%;
  display: inline-block;
  margin-bottom: 3%;
}

aside nav li {
  list-style-type: none;
  background-color: #F9F9F9;
  float: left;
  margin: 5%; 
  outline: .3vw solid #DEDEDE;
  width: 40%;
  font-size: 1.5vw;
}

aside nav a {
  display: block;
  padding: 10%; 
  text-decoration: none;
}

footer {
  background-color: #F0F0F0;
  clear: both;
  float: left;
  font-size: 1.5vw; 
  margin: 1.5% 0;  
  padding: 3%; 
  text-align: center;
  width: 100%;
}

